In [9]:
# Análise Exploratória Inicial


import pandas as pd

# Carregar dataset
df = pd.read_csv('funcionarios_empresa.csv')

# Primeiras linhas
print(df.head())

# Informações gerais
print(df.info())

# Estatísticas descritivas
print(df.describe())

# Ver colunas e tipos
print(df.dtypes)

   ID_Funcionario                Nome  Idade Departamento  \
0               1  Tatiane Mendes 001     40       Vendas
1               2       Ana Silva 002     23    Marketing
2               3    Rafael Alves 003     36           TI
3               4     Carla Souza 004     32    Operações
4               5     Pedro Costa 005     33   Financeiro

                      Cargo  Salario  Tempo_Empresa_Meses Data_Admissao  \
0               Vendedor Jr  3685.36                    4    2025-05-18
1  Coordenador de Marketing  8081.03                    1    2025-08-16
2       Desenvolvedor Pleno  8491.98                    2    2025-07-17
3      Gerente de Operações  9745.30                    9    2024-12-19
4    Analista Financeiro Jr  3556.68                   63    2020-07-13

      Nivel_Educacao Estado_Civil Tipo_Contrato  Avaliacao_Performance  \
0  Superior Completo    Casado(a)           CLT                    4.8
1  Superior Completo  Solteiro(a)           CLT                    2.4
2      Pós-graduação  Solteiro(a)           CLT                    2.7
3       Ensino Médio    Casado(a)           CLT                    3.4
4      Pós-graduação  Solteiro(a)           CLT                    3.9

   Horas_Extras_Mes  Beneficios  Faltas_Ultimo_Ano  Satisfacao_Trabalho
0                 5      953.49                  1                  5.6
1                 7      964.51                  2                  5.2
2                 7      483.34                  4                  5.7
3                12      980.71                  1                  7.0
4                10     1031.64                  1                  6.5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID_Funcionario         500 non-null    int64
 1   Nome                   500 non-null    object
 2   Idade                  500 non-null    int64
 3   Departamento           500 non-null    object
 4   Cargo                  500 non-null    object
 5   Salario                500 non-null    float64
 6   Tempo_Empresa_Meses    500 non-null    int64
 7   Data_Admissao          500 non-null    object
 8   Nivel_Educacao         495 non-null    object
 9   Estado_Civil           500 non-null    object
 10  Tipo_Contrato          500 non-null    object
 11  Avaliacao_Performance  475 non-null    float64
 12  Horas_Extras_Mes       500 non-null    int64
 13  Beneficios             490 non-null    float64
 14  Faltas_Ultimo_Ano      500 non-null    int64
 15  Satisfacao_Trabalho    485 non-null    float64
dtypes: float64(4), int64(5), object(7)
memory usage: 62.6+ KB
None
       ID_Funcionario       Idade       Salario  Tempo_Empresa_Meses  \
count      500.000000  500.000000    500.000000            500.00000
mean       250.500000   35.764000   7780.120720             21.79600
std        144.481833    9.610673   4108.494711             22.63234
min          1.000000   19.000000   1170.990000              1.00000
25%        125.750000   29.000000   4446.787500              5.00000
50%        250.500000   35.000000   7167.265000             14.00000
75%        375.250000   41.000000   9846.422500             30.00000
max        500.000000   67.000000  37988.030000            120.00000

       Avaliacao_Performance  Horas_Extras_Mes   Beneficios  \
count             475.000000        500.000000   490.000000
mean                3.427368         10.370000   811.200224
std                 0.765589         11.298159   210.466584
min                 1.000000          0.000000   149.100000
25%                 2.900000          6.000000   669.267500
50%                 3.400000          8.000000   814.490000
75%                 3.900000         10.000000   967.770000
max                 5.000000         74.000000  1585.250000

       Faltas_Ultimo_Ano  Satisfacao_Trabalho
count         500.000000           485.000000
mean            1.958000             7.023093
std             1.359387             1.504018
min             0.000000             1.700000
25%             1.000000             6.100000
50%             2.000000             7.000000
75%             3.000000             8.200000
max             7.000000            10.000000
ID_Funcionario             int64
Nome                      object
Idade                      int64
Departamento              object
Cargo                     object
Salario                  float64
Tempo_Empresa_Meses        int64
Data_Admissao             object
Nivel_Educacao            object
Estado_Civil              object
Tipo_Contrato             object
Avaliacao_Performance    float64
Horas_Extras_Mes           int64
Beneficios               float64
Faltas_Ultimo_Ano          int64
Satisfacao_Trabalho      float64
dtype: object

In [10]:
# Identificação de Valores Nulos


# Contagem de valores nulos
print(df.isnull().sum())

# Porcentagem de nulos
print((df.isnull().mean() * 100).round(2))

# Visualizar linhas com nulos (opcional)
df[df.isnull().any(axis=1)].head()

ID_Funcionario            0
Nome                      0
Idade                     0
Departamento              0
Cargo                     0
Salario                   0
Tempo_Empresa_Meses       0
Data_Admissao             0
Nivel_Educacao            5
Estado_Civil              0
Tipo_Contrato             0
Avaliacao_Performance    25
Horas_Extras_Mes          0
Beneficios               10
Faltas_Ultimo_Ano         0
Satisfacao_Trabalho      15
dtype: int64
ID_Funcionario           0.0
Nome                     0.0
Idade                    0.0
Departamento             0.0
Cargo                    0.0
Salario                  0.0
Tempo_Empresa_Meses      0.0
Data_Admissao            0.0
Nivel_Educacao           1.0
Estado_Civil             0.0
Tipo_Contrato            0.0
Avaliacao_Performance    5.0
Horas_Extras_Mes         0.0
Beneficios               2.0
Faltas_Ultimo_Ano        0.0
Satisfacao_Trabalho      3.0
dtype: float64

,ID_Funcionario,Nome,Idade,Departamento,Cargo,Salario,Tempo_Empresa_Meses,Data_Admissao,Nivel_Educacao,Estado_Civil,Tipo_Contrato,Avaliacao_Performance,Horas_Extras_Mes,Beneficios,Faltas_Ultimo_Ano,Satisfacao_Trabalho
6,7,João Santos 007,41,RH,Analista de RH Jr,2763.49,24,2023-09-26,Pós-graduação,Solteiro(a),CLT,NaN,4,1238.09,2,5.6
10,11,Gustavo Moreira 011,35,RH,Analista de RH Pleno,4557.05,32,2023-01-29,Ensino Médio,Casado(a),CLT,4.4,15,1010.76,2,NaN
21,22,Larissa Cardoso 022,36,Financeiro,Analista Financeiro Jr,4062.62,1,2025-08-16,Superior Completo,Divorciado(a),CLT,4.0,10,815.21,2,NaN
23,24,Felipe Araújo 024,32,Financeiro,Contador,8152.92,3,2025-06-17,NaN,Casado(a),PJ,4.2,5,894.21,0,4.7
28,29,Maria Oliveira 029,47,Vendas,Coordenador de Vendas,7422.14,10,2024-11-19,Superior Completo,Casado(a),CLT,NaN,9,711.07,2,10.0

In [11]:
# Tratamento de Valores Nulos

# Separar colunas numéricas e categóricas
num_cols = df.select_dtypes(include=['int64', 'float64']).columns
cat_cols = df.select_dtypes(include=['object']).columns

# Tratar nulos numéricos com mediana
for col in num_cols:
    mediana = df[col].median()
    df[col].fillna(mediana, inplace=True)

# Tratar nulos categóricos com moda
for col in cat_cols:
    moda = df[col].mode()[0]
    df[col].fillna(moda, inplace=True)

# Conferir novamente
print(df.isnull().sum())

ID_Funcionario           0
Nome                     0
Idade                    0
Departamento             0
Cargo                    0
Salario                  0
Tempo_Empresa_Meses      0
Data_Admissao            0
Nivel_Educacao           0
Estado_Civil             0
Tipo_Contrato            0
Avaliacao_Performance    0
Horas_Extras_Mes         0
Beneficios               0
Faltas_Ultimo_Ano        0
Satisfacao_Trabalho      0
dtype: int64

/var/folders/l9/v4lgcs2909s2fnndqgcz25m80000gn/T/ipykernel_16272/2782191924.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mediana, inplace=True)
/var/folders/l9/v4lgcs2909s2fnndqgcz25m80000gn/T/ipykernel_16272/2782191924.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mediana, inplace=True)
/var/folders/l9/v4lgcs2909s2fnndqgcz25m80000gn/T/ipykernel_16272/2782191924.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mediana, inplace=True)
/var/folders/l9/v4lgcs2909s2fnndqgcz25m80000gn/T/ipykernel_16272/2782191924.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mediana, inplace=True)
/var/folders/l9/v4lgcs2909s2fnndqgcz25m80000gn/T/ipykernel_16272/2782191924.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mediana, inplace=True)
/var/folders/l9/v4lgcs2909s2fnndqgcz25m80000gn/T/ipykernel_16272/2782191924.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mediana, inplace=True)
/var/folders/l9/v4lgcs2909s2fnndqgcz25m80000gn/T/ipykernel_16272/2782191924.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mediana, inplace=True)
/var/folders/l9/v4lgcs2909s2fnndqgcz25m80000gn/T/ipykernel_16272/2782191924.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mediana, inplace=True)
/var/folders/l9/v4lgcs2909s2fnndqgcz25m80000gn/T/ipykernel_16272/2782191924.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mediana, inplace=True)
/var/folders/l9/v4lgcs2909s2fnndqgcz25m80000gn/T/ipykernel_16272/2782191924.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(moda, inplace=True)

In [12]:
# Detecção de Outliers

# Separar colunas numéricas e categóricas
num_cols = df.select_dtypes(include=['int64', 'float64']).columns
cat_cols = df.select_dtypes(include=['object']).columns

# Tratar nulos numéricos com mediana
for col in num_cols:
    mediana = df[col].median()
    df[col].fillna(mediana, inplace=True)

# Tratar nulos categóricos com moda
for col in cat_cols:
    moda = df[col].mode()[0]
    df[col].fillna(moda, inplace=True)

# Conferir novamente
print(df.isnull().sum())

ID_Funcionario           0
Nome                     0
Idade                    0
Departamento             0
Cargo                    0
Salario                  0
Tempo_Empresa_Meses      0
Data_Admissao            0
Nivel_Educacao           0
Estado_Civil             0
Tipo_Contrato            0
Avaliacao_Performance    0
Horas_Extras_Mes         0
Beneficios               0
Faltas_Ultimo_Ano        0
Satisfacao_Trabalho      0
dtype: int64

/var/folders/l9/v4lgcs2909s2fnndqgcz25m80000gn/T/ipykernel_16272/975797659.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mediana, inplace=True)
/var/folders/l9/v4lgcs2909s2fnndqgcz25m80000gn/T/ipykernel_16272/975797659.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mediana, inplace=True)
/var/folders/l9/v4lgcs2909s2fnndqgcz25m80000gn/T/ipykernel_16272/975797659.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mediana, inplace=True)
/var/folders/l9/v4lgcs2909s2fnndqgcz25m80000gn/T/ipykernel_16272/975797659.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mediana, inplace=True)
/var/folders/l9/v4lgcs2909s2fnndqgcz25m80000gn/T/ipykernel_16272/975797659.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mediana, inplace=True)
/var/folders/l9/v4lgcs2909s2fnndqgcz25m80000gn/T/ipykernel_16272/975797659.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mediana, inplace=True)
/var/folders/l9/v4lgcs2909s2fnndqgcz25m80000gn/T/ipykernel_16272/975797659.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mediana, inplace=True)
/var/folders/l9/v4lgcs2909s2fnndqgcz25m80000gn/T/ipykernel_16272/975797659.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mediana, inplace=True)
/var/folders/l9/v4lgcs2909s2fnndqgcz25m80000gn/T/ipykernel_16272/975797659.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mediana, inplace=True)
/var/folders/l9/v4lgcs2909s2fnndqgcz25m80000gn/T/ipykernel_16272/975797659.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(moda, inplace=True)

In [13]:
# Tratamento de Outliers

# Aplicar o "capping" nos outliers
for col in num_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    limite_inferior = Q1 - 1.5 * IQR
    limite_superior = Q3 + 1.5 * IQR

    df[col] = df[col].clip(limite_inferior, limite_superior)

In [14]:
# Salvar dataset tratado

df.to_csv('funcionarios_empresa_tratado.csv', index=False)